@model IEnumerable<Formula1_new.Models.DriverDTO>
@{
    ViewBag.Title = "List";
}

<h2>Driver List</h2>
<table>
    <thead>
        <tr>
            <th>Driver Name</th>
            <th>Points</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var driver in Model)
        {


            <tr>
                <td><a href="/Driver/Edit/@driver.DriverId">@driver.DriverName</a></td>
                <td>@driver.DriverPoints</td>
                <td><a href="/Driver/DeleteConfirm/@driver.DriverId">Delete Driver</a></td>

            </tr>

        }
    </tbody>
</table>
    <a href="/Driver/New" class="mt-4">Add Driver</a>
