
@{
    ViewBag.Title = "New";
}

<h2>Add Driver</h2>
<form action="/Team/Create" method="POST">
    <div>
        <label>Driver Name:</label> <input type="text" name="DriverName" />
    </div>
    <div>
        <label>Driver Points:</label> <input type="number" name="DriverPoints" />
    </div>

    <div>
        <input type="submit" value="Add Driver" />
    </div>
</form>

