@model IEnumerable<Formula1_new.Models.TeamDTO>
@{
    ViewBag.Title = "List";
}

<style>
    body {
        background-image: url('https://github.com/jerryborgesjacob/HTTP5122/blob/main/f1-2.png?raw=true');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>


<div class="table-container">
    <h2>Teams List</h2>
    <table>
        <thead>
            <tr>
                <th>Team Name</th>
                <th>Points</th>
                <th>Engine Supplier</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var team in Model.OrderByDescending(team => team.TeamPoints))
            {


                <tr>
                    <td>@team.TeamName</td>
                    <td>@team.TeamPoints</td>
                    <td>@team.EngineSupplier</td>
                    <td><a href="/Team/DeleteConfirm/@team.TeamId">Delete</a> | <a href="/Team/Edit/@team.TeamId">Edit</a></td>

                </tr>

            }
        </tbody>
    </table>
    <a class="add-button" href="/Team/New" class="mt-4">Add Team</a>
</div>



