@{
    ViewBag.Title = "Home Page";
}


    <!--
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </section>
    </div>
    -->
    <main>
        <img src="https://www.f1manager.com/_nuxt/img/f1m2024-logo-primary-animated.aafa515.svg" alt="f1 manager logo" width="500px" height="300px">

    </main>

    <div class="sections-container">
        <div class="driver">
            <h2><a href="/Driver/List">Driver Data</a></h2>
            <img src="https://github.com/jerryborgesjacob/HTTP5122/blob/main/f1-drivers.png?raw=true" alt="f1-drivers-image" width="300px" height="200px" />
        </div>
        <div class="team">
            <h2><a href="/Team/List">Team Data</a></h2>
            <img src="https://www.kymillman.com/wp-content/uploads/f1/gallery/images/edfb9f975.jpg" alt="f1-teams pitstop" width="300px" height="200px" />
        </div>
        <div class="track">
            <h2><a href="/Racetrack/List">Race Track Data</a></h2>
            <img src="https://www.topgear.com/sites/default/files/2022/06/9-Best-F1-tracks.jpg" alt="cars on a race track" width="300px" height="200px" />
        </div>
    </div>

