@model Formula1_new.Models.RaceTrackDTO
@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>Confirm Delete</h2>
<h3>Are you sure you want to delete this Race Track?</h3>
<p>This action cannot be reversed.</p>
<a href="/Racetrack/List">Cancel</a>
<h2>@Model.TrackName</h2>

<form action="/Racetrack/Delete/@Model.TrackId" method="POST">
    <input type="submit" value="Confirm Delete" />

</form>

