@model Formula1_new.Models.RaceTrackDTO
@{
    ViewBag.Title = "Edit";
}

<h2>Edit a Race Track</h2>
<form action="/Racetrack/Update/@Model.TrackId" method="POST">
    <div style="display:none;">
        @* Pass through the Track Id *@
        <input type="text" name="TrackId" value="@Model.TrackId" />
    </div>
    <div>
        <label>Track Name:</label> <input type="text" name="TrackName" value="@Model.TrackName" />
    </div>
    <div>
        <label>Team Length:</label> <input type="number" name="TrackLength" value="@Model.TrackLength" />
    </div>
    <div>
        <label>Country:</label> <input type="text" name="Country" value="@Model.Country" />
    </div>

    <div>
        <input type="submit" value="Update Race Track" />

    </div>
</form>
