@model IEnumerable<Formula1_new.Models.RaceTrackDTO>
@{
    ViewBag.Title = "List";
}

<style>
    body {
        background-image: url('https://github.com/jerryborgesjacob/HTTP5122/blob/main/f1-3.png?raw=true');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>

<div class="table-container">
    <h2>Race Tracks List</h2>
    <table>
        <thead>
            <tr>
                <th>Track Name</th>
                <th>Track Length</th>
                <th>Country</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var racetrack in Model)
            {


                <tr>
                    <td>@racetrack.TrackName</td>
                    <td>@racetrack.TrackLength</td>
                    <td>@racetrack.Country</td>
                    <td><a href="/Racetrack/DeleteConfirm/@racetrack.TrackId">Delete </a> |  <a href="/Racetrack/Edit/@racetrack.TrackId">Edit</a></td>

                </tr>

            }
        </tbody>
    </table>
    <a href="/Racetrack/New" class="add-button mt-4">Add Race Track</a>
</div>

