
@{
    ViewBag.Title = "New";
}

<h2>Add Race Track</h2>
<form action="/Racetrack/Create" method="POST">
    <div>
        <label>Track Name:</label> <input type="text" name="TrackName" />
    </div>
    <div>
        <label>Length of Track:</label> <input type="number" name="TrackLength" placeholder="in KMs"/>
    </div>
    <div>
        <label>Country:</label> <input type="text" name="Country" />
    </div>
    
    <div>
        <input type="submit" value="Add Race Track" />
    </div>
</form>


